:global(.btn-menu).submenu {
  max-width: 17rem;
  max-height: 20rem;
  overflow-y: auto;

  .reaction {
    position: relative;
    flex: 0 0 auto;
    width: 1.25rem;
    height: 1.25rem;
    margin-inline-start: .75rem;
    --custom-emoji-size: 1.25rem;
  }
}

:global(.btn-menu-item).trigger {
  :global(.stacked-avatars) {
    inset-inline-end: 1.75rem;
  }

  .arrow {
    position: absolute;
    inset-inline-end: .5rem;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 20px;
    color: var(--secondary-color);
    pointer-events: none;
  }
}
