@use "../variables" as *;

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('#{$fonts-path}/Iosevka-ExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('#{$fonts-path}/Iosevka-ExtendedHeavyItalic.woff2') format('woff2');
}
